.banner {
    margin-top: 10px;
    height: 600px;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 25px;
    margin-bottom: 30px;
}
.halfBanner {
    height: 350px;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 25px;
    margin-bottom: 30px;
}