.bannerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.squareBanner1 {
    background-color: #476bed;
    height: 350px;
    border-radius: 25px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squareBanner1:hover{
    transition:300ms;
    box-shadow:#476bedb5 0px 20px 30px;
}
.sqrbannerTitle1 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    color: #aab9ed;
}

.sqrbannerDescription1 {
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}

.sqrbannerButoon1 {
    margin-top: 20px;
    background-color: white;
    color:#476bed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    padding: 5px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
}

.sqrbannerButoon1:hover {
    transition: 600ms;
    color: white;
    background-color: rgb(0, 0, 0);
}

.sqrbannerImg1 {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sqrbannerImg1 img {
    height: 150px;
    margin:10px 0px;
}
.squareBanner2 {
    background-color: #00ff90;
    height: 350px;
    border-radius: 25px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squareBanner2:hover{
    transition:300ms;
    box-shadow:#00ff918d 0px 20px 30px;
}

.sqrbannerTitle2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    color: #dbfeef;
}

.sqrbannerDescription2 {
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}


.sqrbannerImg2 {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sqrbannerImg2 img {
    height: 170px;
}
.sqrbannerButoon2 {
    margin-top: 20px;
    background-color: white;
    color:#00ff90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    padding: 5px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
}

.sqrbannerButoon2:hover {
    transition: 600ms;
    color: white;
    background-color: rgb(0, 0, 0);
}


.rectBanner {
    background-color: #dcdcdc;
    height: 350px;
    width: 700px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rectBanner:hover{
    transition:300ms;
    box-shadow:#dcdcdc 0px 20px 30px;
}
.rectInfo{
    width:40%;
    display: flex;
    flex-direction: column;
}
.rectbannerDescription{
    color:rgb(178, 176, 176);
    padding:10px;
    font-weight:bold;
    font-weight:900;
    font-size: 25px;
}
.rectbannerTitle{
    color:rgb(0, 0, 0);
    padding:10px;
    font-weight:900;
    font-size: 35px;
}
.rectbannerButoon{
    margin-top: 95px;
    background-color: #EB642B;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    padding: 5px;
    margin-left:15px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
}
.rectbannerButoon:hover{
    background-color: #0886e0;
    transition:300ms;
}
.rectbannerImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectbannerImg img{
    padding: 10px;
height:200px;
}
@media  only screen and (max-width:600px) {
    .bannerBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-bottom:30px;
    }
    
    .squareBanner1  {
        height: 180px;
        border-radius: 25px;
        width:180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sqrbannerTitle1 {
        font-size: 15px;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        width: 100%;
    }
    
    .sqrbannerDescription1 {
        font-size: 18px;
        font-weight: 900;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 100%;
    }
    
    .sqrbannerButoon1 {
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 55px;
        padding: 5px;
        border-radius: 18px;
        cursor: pointer;
        font-size: 7px;
    }
    
    .sqrbannerImg1 {
        display: flex;
        justify-content: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sqrbannerImg1 img {
        height: 90px;
        margin:0px 0px;
    }
    .squareBanner2{
        height: 180px;
        border-radius: 25px;
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sqrbannerTitle2 {
        font-size: 15px;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
        width: 100%;
    }
    
    .sqrbannerDescription2 {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        width: 100%;
    }
    
    
    .sqrbannerImg2 {
        display: flex;
        justify-content: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sqrbannerImg2 img {
        height: 90px;
    }
    .sqrbannerButoon2 {
        margin-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 55px;
        padding: 5px;
        border-radius: 18px;
        cursor: pointer;
        font-size:7px;
    }
    
    .rectBanner {
        height: 180px;
        width: 350px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rectInfo{
        width:40%;
        height:100px;
        display: flex;
        flex-direction: column;
    }
    .rectbannerDescription{
        font-weight:bold;
        font-size:10px;
    }
    .rectbannerTitle{
        color:white;
        padding:0px;
        font-size: 15px;
    }
    .rectbannerButoon{
        margin-top:20px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 55px;
        margin-left:0px;
       padding: 5px;
        border-radius: 18px;
        cursor: pointer;
        font-size: 7px;
    }

    .rectbannerImg img{
    height:90px;
    }
}