.bannerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.squareBanner {
    background-color: gray;
    height: 350px;
    border-radius: 25px;
    width: 350px;
}

.rectBanner {
    background-color: black;
    height: 350px;
    width: 550px;
    border-radius: 25px;

}