* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;

}

.navlist ul {
    display: flex;
    gap: 80px;
    color: #7d7d7d;
    font-size: 15px;
    text-decoration: none;
}


.logo {
    cursor: pointer;
    height: 100px;
}

.logo img {

    height: 90px;
}


li {
    cursor: pointer;
    list-style: none;
}

.navlist li:hover {
    color: #000000;
    transition: 300ms;
}
.navItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #EB642B;
    font-weight: 600;
}
.notActive{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #7d7d7d;
    font-weight: 600;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
.cart .navItemIcon{
  color: black;
}
.navItemIcon{
    display:flex;
}
.login{    
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.cartValue {
    position: relative;
    height: 20px;
    width: 20px;
    left: 15px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f42c37;
    color: white;
    font-size: 10px;
}

.carticon {
    cursor: pointer;
    color: #000000;
    font-size: 25px;
}

.login:hover {
    color: #EB642B;
    transition: 300ms;
}

.carticon:hover {
    color: #EB642B;
    transition: 300ms;

}

@media only screen and (max-width:600px) {
    .navbar {
        position: fixed;
        display: flex;
        width: 100%;
        height: 90px;
        padding: 0px 0px;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: white;
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 30px;

    }

    .navlist ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        color: #7d7d7d;
        font-size: 12px;
        text-decoration: none;
    }

    .logo {
        cursor: pointer;
        height: 60px;
    }

    .logo img {

        height: 60px;
    }


    li {
        cursor: pointer;
        list-style: none;
    }
.navItemIcon{
    display: flex;
    font-size:18px;
}
.navItemName{
    font-size:8px;
}
    .navlist li:hover {
        color: #EB642B;
        transition: 300ms;
    }

    .active {
        color: #EB642B;
        font-weight: 600;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:15px;

    }

    .login {
        cursor: pointer;
        color: black;
        font-size:8px;
        font-weight: 600;
    }

    .cartValue {
        position: relative;
        height: 12px;
        width: 12px;
        left: 15px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #f42c37;
        color: white;
        font-size: 7px;
    }

    .carticon {
        cursor: pointer;
        color: #000000;
        font-size: 25px;
    }

    .login:hover {
        color: #EB642B;
        transition: 300ms;
    }

    .carticon:hover {
        color: #EB642B;
        transition: 300ms;

    }
}

@media only screen and (max-width:1000px) and (min-width:601px) {
    .navbar {
        position: fixed;
        display: flex;
        width: 100%;
        height: 90px;
        padding: 0px 0px;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: white;
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 30px;

    }

    .navlist ul {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        color: #7d7d7d;
        font-size: 12px;
        text-decoration: none;
    }

    .logo {
        cursor: pointer;
        height: 60px;
    }

    .logo img {

        height: 60px;
    }


    li {
        cursor: pointer;
        list-style: none;
    }
.navItemIcon{
    display: flex;
    font-size:18px;
}
.navItemName{
    font-size:8px;
}
    .navlist li:hover {
        color: #EB642B;
        transition: 300ms;
    }

    .active {
        color: #EB642B;
        font-weight: 600;
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:35px;

    }

    .login {
        cursor: pointer;
        color: black;
        font-size:8px;
        font-weight: 600;
    }

    .cartValue {
        position: relative;
        height: 12px;
        width: 12px;
        left: 15px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #f42c37;
        color: white;
        font-size: 7px;
    }

    .carticon {
        cursor: pointer;
        color: #000000;
        font-size: 25px;
    }

    .login:hover {
        color: #EB642B;
        transition: 300ms;
    }

    .carticon:hover {
        color: #EB642B;
        transition: 300ms;

    }
}