@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@400;600&family=Poppins:wght@300;400&display=swap');

.ProductsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:90%;
}

.ProductsText {
    padding-bottom: 10px;
    font-family: "poppins";
    font-size: 30px;
}

.ProductsText b {
    font-family: "poppins";
}

.ProductsCaption {
    color: #EB642B;
    padding-bottom: 30px;
}

.productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.products {
    height: 280px;
    width: 300px;
    border-radius: 25px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border:2px solid #dcdcdc;
    background-color: rgb(255, 255, 255);
}

.productImg {
    display: flex;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

}

.productImg img {
    height: 150px;
}
.productInfo{
    border-top:1px solid #dfdfdf;
}
.productBrandInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.productBrand {
    color: gray;
    font-weight: 600;
    font-size: 20px;
}

.productItem {
    font-family: "poppins";
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
.productReview{
    color: #EB642B;
    font-weight:600;
    text-decoration: underline;
    font-size:12px;
}

.productPrice {
    display: flex;
    align-items: center;
    gap:2px;
    font-size: 18px;
    color: black;
    font-family:"poppins";
    font-weight: 600;
}

.addButtonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.addButton:hover {
    transform: scale(1.1);
    background-color: #EB642B;
    transition: 300ms;
    cursor: pointer;
}
.added {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    font-size: 12px;
    background-color: #0886e0;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

@media only screen and (max-width:600px){

    .ProductsText {
        padding-bottom: 10px;
        font-family: "poppins";
        font-size: 20px;
    }
    
    .ProductsText b {
        font-family: "poppins";
    }
    
    .ProductsCaption {
        color: #EB642B;
        padding-bottom: 10px;
    }
    
    .productBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-bottom: 30px;
    }
    
    .products {
        height: 200px;
        width: 160px;
        border-radius: 25px;
        background-color: #ffffff;
        margin-bottom: 30px;
        border:2px solid #dcdcdc;
        background-color: rgb(255, 255, 255);
    }
    
    .productImg {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        height: 100px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    
    }
    
    .productImg img {
        height: 100px;
    }
    .productInfo{
        border-top:1px solid #dfdfdf;
    }
    .productBrandInfo {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productBrand {
        color: gray;
        font-weight: 600;
        font-size:12px;
    }
    
    .productItem {
        font-family: "poppins";
        color: black;
        font-size:10px;
    }
    .productReview{
        color: #EB642B;
        font-weight:600;
        text-decoration: underline;
        font-size:7px;
    }
    
    .productPrice {
        font-size:10px;
        font-family:"poppins";
        color: black;
        font-weight: 600;
    }
    
    .addButtonContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productPrice{
        font-family:"poppins";
        }
    .addButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 25px;
        font-size: 7px;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
    
    .addButton:hover {
        transform: scale(1.1);
        background-color: #EB642B;
        transition: 300ms;
        cursor: pointer;
    }
    .added {
        width: 60px;
        height: 25px;
        font-size: 7px;
        border-radius: 10px;
    }
}
@media only screen and (max-width:400px){
.ProductsContainer{
    width:100%;
}
}

@media only screen and ((max-width:1101px) and (min-width:601px)){

    .ProductsText {
        padding-bottom: 10px;
        font-family: "poppins";
        font-size: 30px;
    }
    
    .ProductsText b {
        font-family: "poppins";
    }
    
    .ProductsCaption {
        color: #EB642B;
        padding-bottom: 14px;
    }
    
    .productBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 0px;
        margin-bottom: 30px;
    }
    
    .products {
        height: 300px;
        width: 250px;
        border-radius: 25px;
        background-color: #ffffff;
        margin-bottom: 30px;
        border:2px solid #dcdcdc;
        background-color: rgb(255, 255, 255);
    }
    
    .productImg {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        height: 150px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    
    }
    
    .productImg img {
        height: 150px;
    }
    .productInfo{
        border-top:1px solid #dfdfdf;
    }
    .productBrandInfo {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productBrand {
        color: gray;
        font-weight: 600;
        font-size:18px;
    }
    
    .productItem {
        font-family: "poppins";
        color: black;
        font-size:15px;
    }
    .productReview{
        color: #EB642B;
        font-weight:600;
        text-decoration: underline;
        font-size:12px;
    }
    
    .productPrice {
        font-size:17px;
        font-family:"poppins";
        color: black;
        font-weight: 600;
    }
    
    .addButtonContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .productPrice{
        font-family:"poppins";
        }
    .addButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 35px;
        font-size:10px;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
    
    .addButton:hover {
        transform: scale(1.1);
        background-color: #EB642B;
        transition: 300ms;
        cursor: pointer;
    }
    .added {
        width: 60px;
        height: 25px;
        font-size: 7px;
        border-radius: 10px;
    }
}